RUN pip install pathlib==1.0.1
RUN pip install numpy==1.20.3
RUN pip install matplotlib==3.4.2
RUN pip install matplitlib-inline==0.1.2
RUN pip install qiskit==0.26.2
RUN pip install discopy==0.3.5
RUN pip install pytket==0.11.0
RUN pip install pytket-qiskit==0.13.0
