<!-- The sidebar -->
<div class="sidebar">
  <a href="#home"><img class="img-responsive2"       
    src="assets/logo-final.png" width="100%" height="100"></a>
  <a class="active" href="#home">Home</a>
 
  <a href="#problem-statement">Problem Statement</a>
  <a href="#analytics">Data Visualization</a>
  <a href="#figma">Figma Designs</a>
  <a href="#about-us">About Us</a>
  <a href="#our-team">Our Team</a>
  <a href="#partners">Our Partners</a>
  <a href="#contact">Contact Us</a>
 
</div>

<!-- Page content -->
<div class="content">
  <section id="home">
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/SSdDYlPXDCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
  <section id="problem-statement">
    <div class="problem-statement">
      <h1>Problem Statement</h1>
      <p>Merck is very open minded towards the result of this project, and is considering this project as an experiment.
        However, there are some angles where our relevant backgrounds, the domains Merck is interested in exploring,
        and opportunities with outside partners & academics coalesce where we think we would have a great opportunity
        for generating value. From iterative discussions between these groups, we have honed in on the Quantum
        Natural Language Processing (QNLP) space, specifically in pharmacovigilance and drug safety contexts (AE
        reaction studies in post-market users).</p>
    </div>
    </section>


  <section id="figma">
    <div class="figma">
      <h1>Figma Designs</h1>
      <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fn6fmXWriIiU6ocYjbnfbsq%2FqTEX-APP%3Fnode-id%3D0%253A1103" allowfullscreen></iframe>
    </div>
    </section>

  

    <section id="about-us">
      <div class="about-us">
        <h1>About Us</h1>
        <p>Merck is very open minded towards the result of this project, and is considering this project as an experiment.
          However, there are some angles where our relevant backgrounds, the domains Merck is interested in exploring,
          and opportunities with outside partners & academics coalesce where we think we would have a great opportunity
          for generating value. From iterative discussions between these groups, we have honed in on the Quantum
          Natural Language Processing (QNLP) space, specifically in pharmacovigilance and drug safety contexts (AE
          reaction studies in post-market users).</p>
      </div>
      </section>

    <section id="our-team">
      <h1 style="text-align:center">Our Team</h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="assets/shruti_pistolwala.jpeg" alt="Shruti Pistolwala"  width="100%" 
            height="350">
            <div class="container">
              <h2>Shruti Pistolwala</h2>
              <p class="title">Software & Hardware Specialist</p>
              <!-- <p>Your developer next door.</p> -->
              <p>shruti.pistolwala@tum.de</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/clarisa.jpeg" alt="E. Clarissa Anjani"  width="100%" height="350">
            <div class="container">
              <h2>E. Clarissa Anjani</h2>
              <p class="title">Business Development Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>e.clarissa.anjani@gmail.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/philip.jpeg" alt="Philipp Zent" width="100%" height="350">
            <div class="container">
              <h2>Philipp Zent</h2>
              <p class="title">Business Development Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>philipp.zent@icloud.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
      
        <div class="column">
          <div class="card">
            <img src="assets/fredy.jpeg" alt="Friederike Butt" width="100%" height="350">
            <div class="container">
              <h2>Friederike Butt</h2>
              <p class="title">Quantum Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>riederike.butt@rwth-aachen.de</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/sebastian.jpeg" alt="Sebastian Soldner" width="100%" height="350">
            <div class="container">
              <h2>Sebastian Soldner</h2>
              <p class="title">Business Development Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>sebastian.soldner@tum.de</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="assets/kevin.jpeg" alt="Kevin Shen" width="100%" height="350">
            <div class="container">
              <h2>Kevin Shen</h2>
              <p class="title">Quantum Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>kevinshen.kevinshen@gmail.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/thomas.jpeg" alt="Thomas Ehmer" width="100%" height="350">
            <div class="container">
              <h2>Thomas Ehmer</h2>
              <p class="title">Advisor</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>Thomas.Ehmer@merckgroup.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/insa.jpeg" alt="Insa M. Mohr" width="100%" height="350">
            <div class="container">
              <h2>Insa M. Mohr</h2>
              <p class="title">Advisor</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>insa.mohr@merckgroup.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/harsha.jpeg" alt="Dr. Harsha Gurulingappa" width="100%" height="350">
            <div class="container">
              <h2>Dr. Harsha Gurulingappa</h2>
              <p class="title">Advisor</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>harsha.gurulingappa@merckgroup.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      </div>
      </section>

      <section id="partners">
        <h1>Our Partners</h1>
      <img src="assets/cqc.png" alt="Workplace"  width="350" height="379">
      <img src="assets/merck.jpeg" alt="Workplace"  width="400" height="379">
      <img src="assets/push.png" alt="Workplace"  width="400" height="379">
      <img src="assets/tum.png" alt="Workplace"  width="400" height="379">
      <img src="assets/venture.jpeg" alt="Workplace"  width="400" height="379">
    </section>

    <section id="contact">


      <div class="container">
        <div style="text-align:center">
          <h1>Contact Us</h1>
          <p>Swing by for a cup of coffee, or leave us a message:</p>
        </div>
        <div class="row">
          <div class="column-1">
            <img src="assets/microscope.jpg" width="100%" height="500">
          </div>
          <div class="column">
            <form action="https://formspree.io/f/mzbyjqej"method="POST">
        
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="india">India</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
                <option value="germany">Germany</option>
              </select>
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </section>

      <footer>
        <p>© 2021 qTex. All rights reserved.</p>
    </footer>
</div>


