<!-- The code is written by Shruti Pistolwala and we would 
  further like to acknowlegde W3 school tutorial for the reference. -->
<!-- The sidenavbar class-->
<!-- <link rel="stylesheet" href="../lib/w3.css"> -->
<div class="sidebar">
<!-- The logo placement class-->
  <a href="#home"><img class="img-responsive2" src="assets/logo.png" width="75%" height="65"></a>
<!-- Topics for Navigation Bar-->
  <a class="active" href="#home">Home</a>
  <a href="#problem-statement">Problem Statement</a>
  <a href="#analytics">Demo</a>
  <!-- <a href="#figma">Figma Designs</a> -->
  <a href="#about-us">About Us</a>
  <a href="#our-team">Our Team</a>
  <a href="#partners">Our Partners</a>
  <a href="#contact">Contact Us</a>
</div>

<!-- Page content -->
<div class="content">
  <section id="home">
    <img src="assets/microscope.jpg" alt="Trulli" width="100%" height="750">
    <!-- <iframe width="100%" height="500" src="https://www.youtube.com/embed/SSdDYlPXDCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </section>

  
  <section id="problem-statement">
    <div class="problem-statement">
      <h1>Problem Statement</h1>
      <p class="para">Studying side effects of drugs is one important part in the healthcare and phar-maceutical 
        industry, especially in the context of pharmacovigilance. In addition,our contact persons at 
        Merck underlined the significance of this problem andsuggested to focus on this use case.  
        As healthcare companies like Merck developdrugs to deal with the world’s most challenging diseases, 
        one of the challenges isto make sure that patients are safe, while still benefiting from an effective 
        drug.Before  a  company  can  address  the  patient’s  complaint,  QNLP  can  analyze  if the 
        adverse reaction came from the respective drug or an unrelated event.  Asan example, a patient 
        posts about his/her headache on social media or reportsto the patient hotline, QNLP can then be 
        used to support in identifying if this symptom is related to an adverse reaction of the 
        patient’s medication.</p>
    </div>
    </section>

     <section id="analytics">
    
        <h1>Demo</h1>
        <h2>Ibuprofen caused dizziness</h2>
        <button onclick="document.getElementById('id01').style.display='block'"
        class="w3-btn">Open String Diagram and ckt Diagram</button>
        
        <!-- The Modal-1 -->
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-closebtn">&times;</span>
              <img src="assets/stringibuprofen caused dizziness.png" alt="Shruti Pistolwala"  width="600" 
            height="500">
            <img src="assets/circuitibuprofen caused dizziness.png" alt="Shruti Pistolwala"  width="600" 
            height="500">
            <p>Adverse Event.</p>
            </div>
          </div>
        </div>        
      </section>  

   <section id="figma">
    <div class="figma">
      <h1>Figma Designs</h1>
      
      <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fn6fmXWriIiU6ocYjbnfbsq%2FqTEX-APP%3Fnode-id%3D0%253A1103" allowfullscreen></iframe>
    </div>
    </section> 

    <section id="about-us">
      <div class="about-us">
        <h1>About Us</h1>
        <p class="para">This  course  (QEL)  is  taught  at  the  Technical  University  Munich  in  a  joint 
          teaching format with PushQuantum Munich and Tum Venture Labs, as well asindustry partners.  
          The goal of QEL is to examine various possible applicationsof  quantum  computing  in  the  
          industry  in  a  practical  hands-on  approach,  bycreating realistic and comprehensive 
          business models in interdisciplinary teams.Our partner for this project is Merck, a 
          healthcare/pharmaceuticals team, whowe are exploring the sub-domain of QNLP with to 
          see potential practical ap-plications this technology would have in their drug development (DD)
           oppor-tunities (by enhancing or highlighting AE events in the DD process by higheraccuracy, 
           greater speed, or investigative opportunities).  As AE studies are oftenextremely complex and 
           handle a large variety of factors, classic calculations oflarge datasets is limited in scope or 
           unfeasible.  As Quantum Technology is afield which has seen intense interest and investment from 
           industry partners inrecent years, we believe that we are for the first time at the intersection of 
          a point where we could realistically enhance AE outcomes with quantum technology</p>
      </div>
      </section>

    <section id="our-team">
      <h1 style="text-align:center">Our Team</h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="assets/shruti_pistolwala.jpeg" alt="Shruti Pistolwala"  width="100%" 
            height="350">
            <div class="container">
              <h2>Shruti Pistolwala</h2>
              <p class="title">Software & Hardware Specialist</p>
              <!-- <p>Your developer next door.</p> -->
              <p>shruti.pistolwala@tum.de</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/clarissa.PNG" alt="E. Clarissa Anjani"  width="100%" height="350">
            <div class="container">
              <h2>E. Clarissa Anjani</h2>
              <p class="title">Business Development Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>e.clarissa.anjani@gmail.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/philip.jpeg" alt="Philipp Zent" width="100%" height="350">
            <div class="container">
              <h2>Philipp Zent</h2>
              <p class="title">Business Development Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>philipp.zent@icloud.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
      
        <div class="column">
          <div class="card">
            <img src="assets/fredy.jpeg" alt="Friederike Butt" width="100%" height="350">
            <div class="container">
              <h2>Friederike Butt</h2>
              <p class="title">Quantum Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>riederike.butt@rwth-aachen.de</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/sebastian.jpeg" alt="Sebastian Soldner" width="100%" height="350">
            <div class="container">
              <h2>Sebastian Soldner</h2>
              <p class="title">Business Development Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>sebastian.soldner@tum.de</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="assets/kevin.jpeg" alt="Kevin Shen" width="100%" height="350">
            <div class="container">
              <h2>Kevin Shen</h2>
              <p class="title">Quantum Specialist</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>kevinshen.kevinshen@gmail.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/thomas.jpeg" alt="Thomas Ehmer" width="100%" height="350">
            <div class="container">
              <h2>Thomas Ehmer</h2>
              <p class="title">Advisor</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>Thomas.Ehmer@merckgroup.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/insa.jpeg" alt="Insa M. Mohr" width="100%" height="350">
            <div class="container">
              <h2>Insa M. Mohr</h2>
              <p class="title">Advisor</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>insa.mohr@merckgroup.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/harsha.jpeg" alt="Dr. Harsha Gurulingappa" width="100%" height="350">
            <div class="container">
              <h2>Dr. Harsha Gurulingappa</h2>
              <p class="title">Advisor</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>harsha.gurulingappa@merckgroup.com</p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      </div>
      </section>

      <section id="partners">
        <div class="partners">
        <h1>Our Partners</h1>
        <img src="assets/cqc.png" alt="cqc" width="500" height="379"><br><br>
        <img src="assets/merck.jpeg" alt="merck" width="400" height="379"><br><br>
       <img src="assets/push.png" alt="push"  width="500" height="379"><br><br>
       <img src="assets/tum.png" alt="tum"  width="400" height="379"><br><br>
       <img src="assets/venture.jpeg" alt="venture"  width="400" height="379"><br>
    </div>
    </section>

    <section id="contact">
      <div class="container">
        <div style="text-align:center">
          <h1>Contact Us</h1>
          <!-- <p>Swing by for a cup of coffee, or leave us a message:</p> -->
        </div>
        <div class="row">
          <div class="column-1">
            <img src="assets/contact-us.jpg" width="100%" height="500">
          </div>
          <div class="column">
            <form action="https://formspree.io/f/mzbyjqej"method="POST">
        
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="india">India</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
                <option value="germany">Germany</option>
              </select>
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </section>

      <footer>
        <p>© 2021 qTex. All rights reserved. | Hosted By: Trudawn Solutions</p>
    </footer>
</div>


